<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
		<table>
			<tr>
				<td>First Name:</td>
				<td>
					<input type="text" th:field="*{fname}" />
				</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>
					<input type="text" th:field="*{lname}" />
				</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
					<input type="text" th:field="*{email}" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Submit" />
				</td>
				<td>
					<input type="reset" value="Reset" />
				</td>
			</tr>

		</table>
	</form>
</body>
</html>
